.root {
  padding: 0.3rem;
}

.body {
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.4rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 0.8rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  gap: 0.3rem;
  text-align: right;
}

.date {
  color: #9b9b9b;
}

.actions {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-start;
  padding-right: 1rem;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  color: var(--color-primary);
}

.delete {
  color: red;
}
