.selection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.selected {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background: #f3f3f3;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.selected button {
  padding: 0.3rem;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
