.root {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  height: 100vh;
  border-left: 1px solid #ccc;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
}
