.root {
  padding: 0.3rem 0.5rem;
}

.primary {
  background-color: var(--color-primary);
  color: white;
}

.default {
  background-color: #ccc;
  color: black;
}

.danger {
  background-color: #d01919;
  color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
