.root {
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.listWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #ccc;
  justify-content: space-between;
  max-height: 660px;
  background: #fff;
  height: 100%;
}

.listHeader {
  padding: 0.5rem 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.listHeader button {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #5b5b5b;
}

.listFooter {
  padding: 0.5rem;
}

.listContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.listContent::-webkit-scrollbar {
  display: none;
}

.task {
  text-decoration: none;
  padding: 0.5rem 1rem 2rem 1rem;
  background: #f5f5f5;
  color: black;
  border: 1px solid #d7d7d7;
}

.task:hover {
  text-decoration: underline;
}

.addButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ccc;
  background: transparent;
  color: #222;
  cursor: pointer;
}

.addButton:hover {
  background: #f0f0f0;
  color: var(--color-primary);
}

.addList {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
