.root {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem;
}

.userInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userRemove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
